.promo-video {
    max-width: 1172px;
    width: 100%;
    min-height: 636px;
    position: relative;

    margin: 0 auto;
    margin-top: 96px;
    padding-top: 56px;
    box-sizing: border-box;

    background: url('../../images/traffic.png') no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}